:root {
    /* first pallete */
    --pale-azure: #6CD4FF;
    --tropical-indigo: #8B80F9;
    --periwinkle: #cfbff7;
    --tea-rose-red: #cfb1b7;
    --taupe-gray: #83858c;

    /*second pallete*/
    --polynessian-blue: #044389;
    --icterine: #fcff4b;
    --orange-web: #ffad05;
    --carolina-blue: #7cafc4;
    --cornflower-blue: #5995ed;

    /* third pallete */
    --black: #080708;
    --blue-crayola: #3772ff;
    --poppy: #df2935;
    --sunglow: #fdca40;
    --platinum: #e6e8e6;
    
    /* universal palette */
    --off-white:#f4f4f4;
    
   }