@import "colors.css";

body{    
    margin: 0;
    background: var(--off-white);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;
    width: auto;
    background: var(--cornflower-blue);
    color: var(--tumbleweed) ;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    grid-template-areas: 
    "title"
    "zip"
    "feel"
    "entry"
    "footer"    
    ;
}

.holder{
    color:var(--polynessian-blue);    
    display: flex;
    flex-direction: column;
    gap: 20px;    
}


#entryHolder{

}

#date{

}

#temp{

}

#content{

}

.headline {
    height: fit-content;
    grid-area: title;
    font-size: 3em;
}
.title{
    color: var(--off-white);

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

.zip{
    grid-area: zip;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background: var(--carolina-blue);
    color: var(--off-white);
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: auto;
    height: 100px;
    background: var(--orange-web);
    color: var(--off-white);
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px var(--polynessian-blue);
}
h1{
    font-size: 36px;
}

.feel{
    grid-area: feel;
}

textarea{
    background: var(--carolina-blue);
    color:  var(--off-white);
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.entry{
    background: var(--polynessian-blue);
    font-size: 1em;
    text-align: center;
    grid-area: entry;
    height: 400px;
}

footer{
    height: 150px;
    background: var(--cornflower-blue);
    grid-area: footer;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: var(--off-white); 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: var(--off-white); 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: var(--off-white); 
    font-family: 'Oswald', sans-serif;

} 

/* @media screen (min-width: 900px){
    .app{
        height: fit-content;
    }    
} */